---
- name: cleanup temp dir
  file:
    path: "{{ temp_config_dir.path }}"
    state: absent
  run_once: true
  delegate_to: localhost
  become: no

- name: restart docker
  service:
    name: docker
    state: restarted

- name: restart networkmanager
  service:
    name: NetworkManager
    state: restarted
