[Unit]
Description=Hass.io AppArmor
Wants=hassio-supervisor.service
Before={{ service_docker }} hassio-supervisor.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart={{ prefix }}/sbin/hassio-apparmor

[Install]
WantedBy=multi-user.target