[Unit]
Description=Hass.io supervisor
Requires={{ service_docker }}
After={{ service_docker }} dbus.socket

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStartPre=-{{ binary_docker }} stop hassio_supervisor
ExecStart={{ prefix }}/sbin/hassio-supervisor
ExecStop=-{{ binary_docker }} stop hassio_supervisor

[Install]
WantedBy=multi-user.target