---
- name: install unattended-upgrades package
  apt:
    name:
      - unattended-upgrades
      - apt-listchanges
    state: present

- name: Ensure the apt auto-upgrades configuration stub is created
  shell: >
    echo unattended-upgrades unattended-upgrades/enable_auto_updates boolean true
     | debconf-set-selections

    dpkg-reconfigure -f noninteractive unattended-upgrades
  args:
    warn: no

- name: Configure unattended upgrades
  template:
    src: 50unattended-upgrades.j2
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    owner: root
    group: root
    mode: '0644'